@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*#region Fonts */
@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes: "wght" (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes: "wght" (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

/*#endregion */

/*#region Utilities */
@utility crt-scan {
  position: relative;

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
    z-index: 50;
    background-size: 100% 4px;
    pointer-events: none;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

/* #endregion */

:root {
  --background: oklch(0.24 0.00 219.61);
  --foreground: oklch(0.81 0.03 72.40);
  --card: oklch(0.28 0 0);
  --card-foreground: oklch(0.81 0.03 72.40);
  --popover: oklch(0.28 0 0);
  --popover-foreground: oklch(0.81 0.03 72.40);
  --primary: oklch(0.58 0.10 38.92);
  --primary-foreground: oklch(0.93 0.06 93.95);
  --secondary: oklch(0.48 0.09 19.15);
  --secondary-foreground: oklch(0.93 0.06 93.95);
  --muted: oklch(0.28 0 0);
  --muted-foreground: oklch(0.81 0.03 72.40);
  --accent: oklch(0.36 0.03 288.10);
  --accent-foreground: oklch(0.81 0.03 72.40);
  --destructive: oklch(0.38 0.07 18.13);
  --border: oklch(0.40 0.00 325.86);
  --input: oklch(0.40 0.00 325.86);
  --ring: oklch(0.36 0.03 288.10);
  --chart-1: oklch(0.74 0.08 80.51);
  --chart-2: oklch(0.58 0.03 112.13);
  --chart-3: oklch(0.43 0.03 4.73);
  --chart-4: oklch(0.44 0.01 145.27);
  --chart-5: oklch(0.48 0.09 19.15);
  --sidebar: oklch(0.28 0 0);
  --sidebar-foreground: oklch(0.81 0.03 72.40);
  --sidebar-primary: oklch(0.58 0.10 38.92);
  --sidebar-primary-foreground: oklch(0.81 0.03 72.40);
  --sidebar-accent: oklch(0.36 0.03 288.10);
  --sidebar-accent-foreground: oklch(0.81 0.03 72.40);
  --sidebar-border: oklch(0.40 0.00 325.86);
  --sidebar-ring: oklch(0.36 0.03 288.10);

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);

  --font-sans: "Satoshi-Regular", "Geist", "Geist Fallback", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* TODO: Find a suitable serif font for Satoshi */
  --font-serif: Merriweather, serif;

  /* TODO: Find a suitable mono font for Satoshi */
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 1rem;

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

.dark {
  --background: oklch(0.24 0.00 219.61);
  --foreground: oklch(0.81 0.03 72.40);
  --card: oklch(0.28 0 0);
  --card-foreground: oklch(0.81 0.03 72.40);
  --popover: oklch(0.28 0 0);
  --popover-foreground: oklch(0.81 0.03 72.40);
  --primary: oklch(0.58 0.10 38.92);
  --primary-foreground: oklch(0.93 0.06 93.95);
  --secondary: oklch(0.48 0.09 19.15);
  --secondary-foreground: oklch(0.93 0.06 93.95);
  --muted: oklch(0.28 0 0);
  --muted-foreground: oklch(0.81 0.03 72.40);
  --accent: oklch(0.36 0.03 288.10);
  --accent-foreground: oklch(0.81 0.03 72.40);
  --destructive: oklch(0.38 0.07 18.13);
  --border: oklch(0.40 0.00 325.86);
  --input: oklch(0.40 0.00 325.86);
  --ring: oklch(0.36 0.03 288.10);
  --chart-1: oklch(0.74 0.08 80.51);
  --chart-2: oklch(0.58 0.03 112.13);
  --chart-3: oklch(0.43 0.03 4.73);
  --chart-4: oklch(0.44 0.01 145.27);
  --chart-5: oklch(0.48 0.09 19.15);
  --sidebar: oklch(0.28 0 0);
  --sidebar-foreground: oklch(0.81 0.03 72.40);
  --sidebar-primary: oklch(0.58 0.10 38.92);
  --sidebar-primary-foreground: oklch(0.81 0.03 72.40);
  --sidebar-accent: oklch(0.36 0.03 288.10);
  --sidebar-accent-foreground: oklch(0.81 0.03 72.40);
  --sidebar-border: oklch(0.40 0.00 325.86);
  --sidebar-ring: oklch(0.36 0.03 288.10);

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    border-radius: 0 !important;
  }

  html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
  }

  body {
    @apply m-0;
    @apply bg-background text-foreground;
    font-family: var(--font-mono);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;

    /* NOTE: CRT Phosphor Glow Effect */
    text-shadow: 0 0 5px color-mix(in oklch, var(--foreground) 60%, transparent);
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  ::selection {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  ::-moz-selection {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}